#contactUs {
    color: white; 
    float:right; 
    padding-right: 20px;
}

.navbar-header {
    float:left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
	float:none;
}

#pageHeading {
    color:white;
    font-weight: 600;
    font-size: 25px  
}

#demotable{
	display:none;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 8px;
    width: 200px;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
    border-radius: 8px;
    width: 200px
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid red;
    border-radius: 8px;
    width: 100px;
}

.button2:hover {
    background-color: red;
    color: white;
    border-radius: 8px;
    width: 100px;
}

#loadingIndicator{
    display:none;
}

th {
    text-align: center;
    background-color: darkgreen;
    color: white;
}

#exportButton {
    float: right
}
